torch       
torchvision
timm             # This one seems strict; keep as is if it works
scikit-learn
numpy
pandas
matplotlib
tqdm                # bump minimum to satisfy datasets package
kaggle
FuzzyTM
transformers
Pillow
git+https://github.com/openai/CLIP.git