torch       
torchvision
timm             # This one seems strict; keep as is if it works
scikit-learn
numpy
pandas
matplotlib
tqdm                # bump minimum to satisfy datasets package
kaggle
FuzzyTM
transformers
Pillow

#I remove clip-open-ai because it costed conflicts:
#clip-by-openai version 1.1 only works with torch 1.7.x (specifically between 1.7.1 and 1.7.2).
#But you want to use torch==1.12.0 for compatibility with torchvision and timm.
#You cannot have both:
#clip-by-openai 1.1 requires an older torch (~1.7.x),
#torchvision 0.13.0 requires torch 1.12.0.






# os, json -->  These are part of the Python standard library and should not be included in requirements.txt.