torch
torchvision
timm
scikit-learn
numpy
pandas
matplotlib
tqdm
kaggle
transformers
Pillow
git+https://github.com/openai/CLIP.git




# os, json -->  These are part of the Python standard library and should not be included in requirements.txt.